@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.cdnfonts.com/css/space-grotesk");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Poppins";
  box-sizing: border-box;
}

$font1: "Poppins";
$font2: "Space Grotesk", sans-serif;
$cairaWhite: #f2f2f2;
$cairaPurple: #252859;
$cairaPink: #fb95f3;
$gradient: linear-gradient($cairaPurple, $cairaPink);
$logoMinSize: 120px;

h1,
h2,
h3 {
  font-family: "Space Grotesk", sans-serif;
}

p {
  font-family: "Poppins";
}

h1 {
  font-size: 52px;
  font-weight: bold;
}

h2 {
  font-size: 42px;
  font-weight: bold;
}

h3 {
  font-size: 34px;
}

body {
  background-image: url(../../assets/images/fondo2.png);
  background-size: cover;
}

.header {
  position: fixed;
  z-index: 15;
  width: 100%;
  margin-top: -15px;
}

.container-navbar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: #f2f2f2 !important;
  align-items: center;
  padding-top: 5px;
  box-shadow: 8px -4px 16px -3px #000000;
}

.logo {
  width: 81px;
  margin-left: 10px;
  margin-top: 5px;
}

.flex-grow {
  flex-grow: 1;
}

.flex-grow:hover{
  cursor: pointer;
}

.hamburger-logo {
  width: 30px;
}

.account-logo {
  width: 30px;
  margin-right: 15px;
}

.menu {
  position: fixed;
  z-index: 14;
  width: 50%;
  height: 100vh;
  background-color: #f2f2f2;
  padding: 26px;
  transform: translate(500px);
  transition: 0.5s;
  top: 30px;
}

.menu li {
  list-style-type: none;
  padding: 17px 0;
}

.showmenu {
  transform: translateX(0px);
}

.mobile {
  display: none;
}

.menu li:last-child {
  border-bottom: none;
}

.menu li a {
  color: #13142e;
  text-decoration: none;
  font-size: 20px;
  transition: font-weight 0.2s;
}

.menu li a:hover {
  font-weight: bold;
}

.language-select {
  display: flex;
  margin-top: 50px;
  align-items: center;
}

.button {
  border: solid 2px #13142e;
  border-radius: 30px;
  padding: 4px;
  padding-left: 20px;
  padding-right: 20px;
}

.social-media {
  display: flex;
  margin-top: 20px;
  margin-left: -5px;
}

.social-logos {
  margin-right: 10px;
}

.linkedin {
  width: 30px;
}

.desktop {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-end;
}

.desktop-grow {
  flex-grow: 0.2;
}

.navbar-font {
  color: #13142e;
  text-decoration: none;
  font-size: 30px;
}

.desktop li {
  list-style-type: none;
  padding: 17px 0;
}

.en-button {
  color: #fb95f3;
  margin-left: 10px;
  font-size: 28px;
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

.container {
  margin-left: 20px;
  background-color: $cairaWhite;
}

.container-icons {
  flex-grow: 0.7;
  justify-content: flex-end;
  display: flex;
  margin-right: 50px;
}

.search {
  border-radius: 50px;
  height: 40px;
  width: 700px;
  border: 2px solid rgba(0, 0, 0, 0.321);
}

.navbar-icon {
  width: 40px;
  margin-left: 20px;
}

.navbar-icon:hover {
  transform: scale(120%);
}

::placeholder {
  padding-left: 10px;
  font-size: 15px;
}

input[type="text"] {
  padding-left: 30px;
  background-color: transparent;
}

.arrow {
  margin-left: -6px;
  padding-top: 3px;
}

@media screen and (min-width: 850px) {
  .container {
    display: none;
  }
  .account-logo {
    display: none;
  }

  .flex-grow {
    flex-grow: 0;
  }

  .container-navbar {
    justify-content: center;
  }

  .logo {
    width: 100px;
    margin-left: 150px;
  }

  .container-navbar {
    margin-top: 5px;
    background-color: #00000000;
  }
}

@media screen and (max-width: 1150px) {
  .header{
    width: 100vw;
  }
  .en-button {
    font-size: 20px;
  }

  .navbar-font {
    font-size: 20px;
  }
}

@media screen and (max-width: 849px) {
  .desktop {
    display: none;
  }

  .container{
    width: 100vw;
  }

  .container-navbar{
    display: block;
  }
}
