$cairaWhite: #f2f2f2;
$cairaPurple: #252859;
$cairaPink: #fb95f3;
$gradient: linear-gradient($cairaPurple,$cairaPink);
$font1: 'Poppins';
$font2: 'Space Grotesk', sans-serif;
$shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
.opinions-big{
    height: 800px;
    h1,h2,h3,p{
        text-align: center;
        margin-bottom: 30px;
        color: $cairaPurple;
    }
    background-image: url("../../assets/images/Recursos/fondo2.png");
    background-size: 30%;
    background-position: left 90% top 250px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.opinions{
    display: flex;
    justify-content: center;
}
.carrusel{
    width: 650px;
}
.arrow{
    height: 40px;
    width: 40px;
    text-align: center;
    margin-top: 190px;
    margin-top: 130px;
}
.card-opinion{
    width: 500px;
    height: 300px;
    margin: auto;
    display: flex; 
    flex-direction:column;
    background-color: white;
    box-shadow: $shadow;
    border-radius: 40px;
    p{
        margin: auto;
        padding-left: 60px;
        padding-right: 60px;
        text-align: center;
        img{
            width: 100px;
            border-radius: 100%;
        }
    }
    .stars{
        font-size: 30px;
        margin-bottom: 30px;
    }  
}
.button{
    background-color: transparent;
    border-radius: 50px;
    padding: 10px;
    margin-top: 30px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    transition: width 0.2s linear 0.2s,height 0.2s linear 0.2s,font-size 0.2s linear 0.2s;
    &.purple{
        border: 2px solid $cairaPurple;
        color: $cairaPurple;
    }
    &:hover{
        cursor: pointer;
        color: $cairaWhite !important;
        //font-weight: bold;
        background: -webkit-gradient(linear, right top, left top, from($cairaPurple), to($cairaPink));
        background: linear-gradient(to right, $cairaPurple, $cairaPink);
        border: 2px solid $cairaWhite;
    }
    a{
        text-decoration: none;
        color: $cairaPurple;
    }
}